<footer>
    <div class="row">
        <div class="col-md-6">
            <p>email us: <a href="mailto:info@saincrafttechnologies.com">info@saincrafttechnologies.com</a> </p>
        </div>
        <div class="col-md-6">
            <p>call us: <a href="tel:+255658598333">+255658598333</a> <br><a href="tel:+255658598333">+255658598333</a>
            </p>
            </p>
        </div>
        <div class="col-md-12">
            <p>Copyright © 2023 Saincraft Technologies.</p>
        </div>
    </div>
</footer>