<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo mb-1">
                        <!-- <h1>Saincraft Technologies</h1> -->
                        <img src="{{cdn}}/assets/images/logo_white.png" alt="" srcset=""
                            style="height: 70px; width: 170px; margin-right: 50px; margin-bottom:10px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Serach Start ***** -->
                    <div class="search-input">
                        <form id="search" action="#">
                            <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword"
                                onkeypress="handle" />
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                    <!-- ***** Serach Start ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#services">Services & Products</a></li>
                        {{!-- <li class="scroll-to-section"><a href="#courses">Products</a></li> --}}
                        <li class="scroll-to-section"><a href="#team">Team</a></li>
                        <li class="scroll-to-section"><a href="#events">Events</a></li>
                        <li class="scroll-to-section"><a href="#contact">About</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>