<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{{cdn}}icons/IconW@300x.png">
    {{>top}}
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    {{> header}}
    <!-- ***** Header Area End ***** -->

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-banner">
                        <div class="item item-1">
                            <div class="header-text">
                                <span class="category">Our Services</span>
                                <h2>With expert IT team, Everything Is Easier</h2>
                                <p>Bringing your ideas to life under your control</p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#">Request Call</a>
                                    </div>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-play"></i> Book a call</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item item-2">
                            <div class="header-text">
                                <span class="category">Web</span>
                                <h2>Web applications bring business control to your finger tips</h2>
                                <p>In the world of business being a step ahead is a step to greatness. Software to
                                    control and oversee
                                    our business have brought the power of technology to our hands. Let us assit you to
                                    greatness with
                                    applications, blog and websites.
                                </p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="https://storekeeper.builds.saincrafttechnologies.com">Storekeeper
                                            Demo</a>
                                    </div>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-play"></i> preview presentation?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item item-3">
                            <div class="header-text">
                                <span class="category">IoT</span>
                                <h2>Internet of things</h2>
                                <p>We integrate software with things and giving them emerse abilities using RaspberyPi &
                                    arduino</p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#">request documentations</a>
                                    </div>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-play"></i> view demo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{{body}}}



    {{>footer}}
    {{> bottom}}

</body>

</html>